/* first i started with putting every section that i'm gonna work on "body,header, main, section but empty, so i can understand and structure everything clearly as a begginer */

:root {
    --orange: #FFB347;
    --black: black;
    --cream: #FFFDF7;;
}

body {
    margin: 0;
    background-color: var(--cream);
    color: var(--black);
}

header {
    background-color: var(--orange);
    color: #171717;
    min-height: 80vh;
    padding: 40px;
    font-size: 3rem;

    position: relative;
}

.name {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 2rem;
}

.design {
    position: absolute;
    top: 40px;
    left: 50%;
}

.hero-title {
    position: absolute;
    bottom: 50px;
    left: 40px;
    margin: 0;
    font-size: 2rem;
}


header h1 {
    margin: 0;
    font-size: 8rem;
    line-height: 0.85;
}

header p {
    margin: 0;
    font-size: smaller;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 40px;
}

section {
    padding: 60px 0;
    border-bottom: 1px solid #aaa;
}

section h2 {

}

section p {

}